
body {
    font-family: 'EB Garamond', serif;
    background: linear-gradient(to bottom, #FFFBED, #E5E4E3);
    margin: 0;
    padding: 0;
}


.navbar {
    background: linear-gradient(to bottom, #FFFBED 0%, #D1BB8F 5%);
    border-bottom: 1px solid #D1BB8F;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


.navbar a,
.navbar .fa {
    color: black;
}


.search-bar {
    margin-left: auto;
    padding: 5px;
}


.logo {
    margin-right: 10px;
}



.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 400px;
    margin: auto;
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#scrollButton{
    width: 100px;
    height: 25px;

    color: black;
    background-color: #D1BB8F;
    font-size: 0.4em;
    position: relative;
    z-index: 9999;

}


.img-custom-size {
    animation-duration: 5s;
}



.text-section {
    text-align: center;
}

.text-section p {
    padding: 10px;
    margin: 60px auto;
    max-width: 70%;
}



.line {
    width: 90%;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}


.text-section2{
    text-align: left;
    padding-left: 55px;
    margin: 60px auto;
    max-width: 70%;
}


.fa-instagram{
    font-size: 35px;
}
.fa-whatsapp{
    font-size: 35px;
}
.container4{
    margin: 70px;
}




